name: Update docker hub repository overview

on:
  push:
    branches:
      - main
    paths:
      - README_DOCKER.md
      - .github/workflows/docker_description.yml

env:
  REPOSITORY_NAME: "patrickmunne/custom-agent"

jobs:

  docker_repository_overview:
    name: Update the Docker repository overview
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4
    
      - name: Docker Hub Description
        uses: peter-evans/dockerhub-description@v4
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: ${{ env.REPOSITORY_NAME  }}
          readme-filepath: ./README_DOCKER.md

